<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CDNS de la web -->
    <!-- Iconos de footawsome -->
    <script src="https://kit.fontawesome.com/29bba9f48e.js" crossorigin="anonymous"></script>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap"
        rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">

    <!-- glinder ks  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">


    <!-- estilos locales -->
    <link rel="stylesheet" href="../css/styles.css">
    <title>Cetmar</title>
</head>

<body>
    <header class="nav" id="navbar">
        <h1 class="nav__logo" id="logo"><b><a href="">EDUCACIÓN</a></b></h1>
        <nav class="nav__nav">
            <button class="nav__toggle">
                <i class="fas fa-bars"></i>
            </button>
            <ul class="nav__menu">
                <li><a class="nav_a" href="">Inicio</a></li>
                <li>
                    <div class="nav__dropdown">

                        <a class="nav_a" href="">Nosotros</a>
                        <!-- <div class="nav__dropdown__content">
                            <a href="">Link 1 </a>
                            <a href="">Link 2 </a>
                            <a href="">Link 3 </a>
                        </div> -->
                    </div>
                </li>
                <li><a class="nav_a" href="">Alumnos</a> </li>

            </ul>
        </nav>

    </header>

    <section>
        <div class="carousel">
            <div class="carousel__contenedor">
                <button aria-label="Anterior" class="carousel__anterior">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <div class="carousel__lista glider">
                    <div class="carousel__elemento">
                        <img src="../img/carousel_img_1.jfif" alt="">
                        <p></p>
                    </div>
                    <div class="carousel__elemento">
                        <img src="../img/carousel_img_2.jfif" alt="">
                        <p></p>
                    </div>
                    <div class="carousel__elemento">
                        <img src="../img/carousel_img_3.jfif" alt="">
                        <p></p>
                    </div>
                </div>
                <button aria-label="Siguiente" class="carousel__siguiente">
                    <i class="fas fa-chevron-right"></i>
                </button>

                <div role="tablist" class="carousel__indicadores"></div>
            </div>

        </div>
    </section>


    <section class="contenedor__main">
        <h2>Acerca de nosotros</h2>
        <div class="informacion__container">
            <div class="informacion">
                <p>El Centro de Estudios Tecnológicos del Mar 02 Cap. de
                    Fragata Pedro Saínz de Baranda (referido comúnmente por su
                    acrónimo CETMAR 02) es un subsistema de educación media
                    superior de México, dependiente de la DGETAyCM (Dirección
                    General de Educación Tecnológica Agropecuaria y Ciencias del Mar),
                    y adscrita a la SEMS (Subsecretaría de Educación Media Superior),
                    que a su vez depende de la SEP (Secretaría de Educación Pública).

                    Actualmente, existen 40 CETMAR que imparten bachillerato
                    tecnológico, están distribuidos en todas las entidades federativas de
                    la República Mexicana que tienen costas, algunos con más de un
                    plantel por estado. Siendo el CETMAR 02 Campeche uno de los
                    primeros en todo el país.

                    El CETMAR 02 Campeche inicia sus funciones un 5 de octubre de
                    1975, cumpliendo este 2020 45 años de labor ininterrumpida a favor
                    de la educación y profesionalización de jóvenes mexicanos y de otros
                    países. Los estudiantes egresan con bachillerato tecnológico, es decir,
                    bachillerato bivalente, ya que además de que estudian el nivel medio
                    superior, cuentan con una formación profesional que les permite
                    incorporarse al mercado laboral en alguna actividad productiva
                    propia de la región donde habitan: en los litorales y junto a cuerpos
                    de aguas continentales. Con el bachillerato tecnológico pueden
                    continuar una carrera de nivel superior. en cualquier institución
                    tecnológica o universitaria; al finalizar sus estudios y cubriendo los
                    requisitos correspondientes, obtienen un título y cédula profesional
                    con registro ante la DGP (Dirección General de Profesiones)

                    Durante los 45 años del plantel los directores que han estado a cargo

                    son:

                    Ing. Humberto Lanz Cárdenas.
                    Ing. Sergio González Espínola
                    C.P. Javier García González
                    Biol. Héctor García Lozano
                    QBB Silvia Isolina Olivera Valladares
                    C.P. Juan Martín Uicab Polanco
                    Ing. Héctor Román Rosado Viñegas</p>
            </div>
        </div>
    </section>

    <!-- mision y vision  -->
    <section class="contenedor__main">
        <h2>Misión y visión</h2>
        <div class="contenedor">
            <div class="contenedor__mision">
                <h4>La MISIÖN del CETMAR 02 es formar profesionistas de alto nivel
                    con dominio de las nuevas tecnologías, que sean innovadores,
                    competitivos y críticos con una clara realidad de su medio ambiente
                    laboral y social, lo cual será promovido a través de profesores
                    comprometidos con el sector educativo, social, acuícola y marítimo-
                    pesquero mediante una infraestructura educativa consolidada en los
                    nuevos avances científicos, tecnológicos y en los procesos de
                    aprendizaje.</h4>
            </div>

            <div class="contenedor__mision">
                <h4>La VISION es Ser la mejor institución educativa en la formación
                    integral de hombres y mujeres que cuenten con principios científicos,
                    tecnológicos, ecológicos, éticos y humanísticos dentro de una cultura
                    de mejora continua que les permita ser los actores principales en el
                    desarrollo y aprovechamiento racional de los recursos del sector
                    acuícola y marítimo-pesquero del país.</h4>
            </div>
        </div>
    </section>

    <!-- Carreas que se imparten -->

    <section class="contenedor__main">
        <h2>Carreas que impartimos</h2>
    </section>


    <!-- docentes -->
    <section class="contenedor__main">
        <h2>Docentes</h2>
        <div class="perfil__docentes">
            <div class="perfil__docentes__tarjeta">
                <div class="perfil__img"></div>
                <div class="perfil__contenido"></div>
            </div>
            <div class="perfil__docentes__tarjeta">
                <div class="perfil__img"></div>
                <div class="perfil__contenido"></div>
            </div>
            <div class="perfil__docentes__tarjeta">
                <div class="perfil__img"></div>
                <div class="perfil__contenido"></div>
            </div>
        </div>
    </section>

    <footer>
        Hecho por Manuel Perez
    </footer>
    <!-- scrips locales -->
    <script src="../js/scrolll-nav.js"></script>
    <script src="../js/index.js"></script>
    <!-- Scrips ext -->

    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
</body>

</html>